MONGO_URI="mongodb://localhost:27017/ohif-db"
JWT_SECRET="clave-secreta-supersegura"
ADMIN_EMAIL = "Administrador@gmail.com"
ADMIN_PASSWORD = "1234Qwer"
AUTO_ENVIO=false
HOST_DICOM_LOCAL=127.0.0.1
PORT_DICOM_LOCAL=4242
CALLED_AET_DICOM_LOCAL=ORTHANC
CALLING_AET_DICOM_LOCAL=MYAPP
HOST_DICOM_EXTERNO=192.168.1.100
PORT_DICOM_EXTERNO=4242
CALLED_AET_DICOM_EXTERNO=EXTERNAL_PACS
CALLING_AET_DICOM_EXTERNO=MYAPP 

MWL_ENABLED=false
DCM4CHEE_BASE_URL=http://localhost:8080/dcm4chee-arc
DCM4CHEE_AET=DCM4CHEE
DCM4CHEE_TIMEOUT_MS=10000
DCM4CHEE_AUTH_MODE=none

MWL_STATION_AET_CT=CT01
MWL_STATION_AET_DX=XRAY01
MWL_STATION_AET_CR=XRAY01
MWL_STATION_AET_US=US01

MWL_UID_ROOT=2.25.

MWL_MAX_RETRIES=6
MWL_BACKOFF_SECONDS=5,30,120,600,1800,3600
MWL_WORKER_INTERVAL_MS=5000
MWL_WORKER_BATCH_SIZE=10
MWL_RECONCILIATION_INTERVAL_MS=900000


HL7_FORWARD_TO_PACS=false

MPPS_ENABLED=false
MPPS_POLL_INTERVAL_MS=60000
MPPS_LOOKBACK_HOURS=24
